<div class="container" style="overflow: auto;">
        <div class="col-centered text-center">
            <p>Seleziona la data da visualizzare</p>
            <input class="form-control text-center" placeholder="yyyy-mm-dd" name="d" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (ngModelChange)=" searchHistory($event)">
        </div>
        <!--
    <div *ngIf="datasets">
        <canvas baseChart [labels]="labels" [chartType]="chart_type" [options]="graphOptions" [datasets]="datasets" [legend]="true"
            style="height: 400px;">
        </canvas>
    </div>

    <ng5-slider *ngIf="datasets" [(value)]="minutes_offset" [options]="sliderOptions" (userChange)="onUserChange()"></ng5-slider>
    -->
    <div #chart style="width: 100%; height: 500px; margin: 0 auto;"></div>
</div>
<div *ngIf="datasets" class="container survey text-center">
    <p *ngIf="surveyStatus">{{surveyStatus}}</p>
    <table *ngIf="!surveyStatus && answers" class="table">
        <thead>
                <tr>
                    <th *ngFor="let question of questions">{{question}}</th>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let answer of answers">
                    <img src="{{answer.image}}">
                </td>
            </tr>
            <tr>
                    <td *ngFor="let answer of answers">
                        {{answer.value}}
                    </td>
            </tr>
        </tbody>
    </table>
</div>