<body class="component text-center">
    <div *ngIf="!isLoadingCompleted$">
        <p >{{loadingStatus}}</p>
    </div>
    <div *ngIf="isLoadingCompleted$">
        <h3>{{survey.title}}</h3>
        <div *ngFor="let question of survey.questions">
            <p>{{question.title}}</p>
            <table>
                <tr>
                    <td *ngFor="let choice of question.choices">
                        <img src="{{choice.image}}" (click)="setValue(question, choice)">
                    </td>
                </tr>
            </table>
        </div>
        <button id="miband_button" class="btn btn-default" (click)="submit()">Invia</button>
    </div>
</body>