#surveyContainer{
    text-align: left;
}

.status{
    padding-top: 150px;
}


img{
    width: 80px;
    height: auto;

}
@media (min-width: 600px){
    img{
        width: 80px;
        height: auto;
    }
}

@media (max-width: 600px){
    img{
        width: 40px;
        height: auto;
    }
}

table{
    margin: 0 auto;
    width: 60%;
}

td{
    padding-bottom: 50px;
}

#miband_button {
    background:rgb(216,45,113);
    color: white;
  }

