<body>
    <div class="col-centered">
        <label for="typeahead-basic">Cerca un paziente:</label>
        <input id="typeahead-basic" type="text" class="form-control text-center" (selectItem)="selectPatient($event)"
            [resultFormatter]="formatMatches" [inputFormatter]="formatMatches" [ngbTypeahead]="search" />
    </div>
    <div class="container" style="overflow: auto;">
        <div class="col-centered text-center">
            <p>Seleziona il periodo da visualizzare</p>
            <input class="form-control text-center" placeholder="yyyy-mm-dd" name="d" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (ngModelChange)=" searchHistory($event)">
        </div>
   <!--
    <div *ngIf="datasets">
        <canvas baseChart [labels]="labels" [chartType]="chart_type" [options]="graphOptions" [datasets]="datasets" [legend]="true"
            style="height: 400px;">
        </canvas>
    </div>

    <ng5-slider *ngIf="datasets" [(value)]="minutes_offset" [options]="sliderOptions" (userChange)="onUserChange()"></ng5-slider>
    -->
    <div #chart style="width: 90%; height: 500px; margin: 0 auto;"></div>
</div>
<div *ngIf="datasets" class="container survey text-center">
    <p *ngIf="surveyStatus">{{surveyStatus}}</p>
    <table *ngIf="!surveyStatus && answers" class="table">
        <thead>
                <tr>
                    <th style="width: 50%">Domanda</th>
                    <th style="width: 30%">Risposta</th>
                    <th style="width: 20%">Valore</th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let answer of answers">
                <td>{{answer.text}}</td>
                <td>{{answer.choice}}</td>
                <td>{{answer.value}}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>