body{
    text-align:center;
}


.col-centered{
    padding-top: 15px; 
    margin: 0 auto;
    float: none;
    width: 300px;
}

.survey{
    padding-top: 15px; 
    margin: 0 auto;
    float: none;
    width: 80%;
}


@media (min-width: 600px){
    img{
        width: 80px;
        height: auto;
    }
}

@media (max-width: 600px){
    img{
        width: 40px;
        height: auto;
    }
}